@import "tailwindcss";

@font-face {
  font-family: "Pinyon_Script";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/PinyonScript-Regular.woff) format("woff");
}

@theme {
  --font-pinyon: "Pinyon_Script", ui-sans-serif, system-ui, sans-serif;
  --color-mint-500: oklch(0.72 0.04 180);
}
